<div>

  <h3>Post To Slackernews<h3>
  <br>
  <p>Type:</p>

  <form action="/morenews" method="post">

  <p><input type="text" name="title" size="200" placeholder="Enter Title Here"></p>
  <p>URL:</p>
  <p><input type="text" name="url" size="200" placeholder="URL: www.here.com"></p>
  <p>Description:</p>
  <p>
    <textarea name="description" rows="20" cols="100"></textarea>
  </p>
  <p>
    <input type="submit" value="Submit">
  </p>

  </form>
</div>
